<div class="slide">

	<center><h2>Nova Project Journal</h2>

	<h3>September 2, 2013</h3>
	<h4>Dennis Keefe</h4>
    
    
    	
    	
    <p>Well, so much for starting on the 1st of September, the insane amount of rain we have been having caused a slight delay. I wasn't able to move the car into the shop because of some other vehicles that have not yet been moved out. I couldn't get what I needed done outside due to the weather, but I did do some inventory and planning. I have a fresh small block Chevy 350 4 bolt, that has been bored .30 over. This is great, because my original plan was to pull a 350 from an old truck my father-in-law had, until he offered me this new one. I have a fresh set of Votec heads, but will need to buy a new intake to match the heads.
    </p>

    
    <p>My father-in-law found these great new wheels with very new tires on them. He though they were for a Chevy, but turns out they are Ford. I think they would look great on the Nova, so I will put a Mustang rear end under it and modify the front suspension to be able to use them. There is a lot of work ahead, but I know that it will be a lot of fun, especially as the weather cools and we head into fall.
 
     </p>

    
</div>