<div class="jumbopic">
    
    <p><a href="http://s169.photobucket.com/user/dkeefe75/media/DSC02526.jpg.html" target="_blank"><img src="http://i169.photobucket.com/albums/u229/dkeefe75/DSC02526.jpg" border="0" alt=" photo DSC02526.jpg"/></a>
    </p>

    
</div>