<div class="row">
  <div class="col-lg-3">
    <a href="#" class="img-thumbnail">
      
      <img class="img-thumbnail" src="http://i169.photobucket.com/albums/u229/dkeefe75/DSC02526.jpg" alt="Dennis Image">

    </a>
  </div>