<div class="container-fluid">
<div class="row-fluid">
<div class="span12">

    <div class="page-header">
        <h3>Gallery</h3>
        <p>1972 Chevy Nova Phase One</p>
    </div>
        
    <div class="carousel slide" id="myCarousel">
        <div class="carousel-inner">
            <div class="item active">
                    <ul class="thumbnails">
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="#"><img src="http://i169.photobucket.com/albums/u229/dkeefe75/DSC02568.jpg" alt=""></a>
                            </div>
                            <div class="caption">
                                <h4>April 20, 2007</h4>
                				<p>Photo taken on day of purchase</p>
                                <a class="btn btn-mini" href="#">&raquo; Read More</a>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="#"><img src="http://i169.photobucket.com/albums/u229/dkeefe75/DSC02560.jpg" alt=""></a>
                            </div>
                            <div class="caption">
                                <h4>April 20, 2007</h4>
                				<p></p>
                                <a class="btn btn-mini" href="#">&raquo; Read More</a>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="#"><img src="http://i169.photobucket.com/albums/u229/dkeefe75/DSC02525.jpg" alt=""></a>
                            </div>
                            <div class="caption">
                                <h4>April 20, 2007</h4>
                				<p></p>
                                <a class="btn btn-mini" href="#">&raquo; Read More</a>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="#"><img src="http://i169.photobucket.com/albums/u229/dkeefe75/DSC02555.jpg" alt=""></a>
                            </div>
                            <div class="caption">
                                <h4>April 20,2007</h4>
                				<p>My nephew (left) and son Ryan (right)</p>
                                <a class="btn btn-mini" href="#">&raquo; Read More</a>
                            </div>
                        </li>
                    </ul>
              </div><!-- /Slide1 --> 
            <div class="item">
                    <ul class="thumbnails">
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="#"><img src="http://i169.photobucket.com/albums/u229/dkeefe75/DSC02618.jpg" alt=""></a>
                            </div>
                            <div class="caption">
                                <h4>May 7, 2007</h4>
                				<p>Just getting started</p>
                                <a class="btn btn-mini" href="#">&raquo; Read More</a>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="#"><img src="http://i169.photobucket.com/albums/u229/dkeefe75/DSC02631.jpg" alt=""></a>
                            </div>
                            <div class="caption">
                                <h4>May 7, 2007</h4>
                				<p>Right fender repair</p>
                                <a class="btn btn-mini" href="#">&raquo; Read More</a>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="#"><img src="http://i169.photobucket.com/albums/u229/dkeefe75/DSC02655.jpg" alt=""></a>
                            </div>
                            <div class="caption">
                                <h4>May 13, 2007</h4>
                				<p>Left tail lamp area</p>
                                <a class="btn btn-mini" href="#">&raquo; Read More</a>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="#"><img src="http://i169.photobucket.com/albums/u229/dkeefe75/DSC02654.jpg" alt=""></a>
                            </div>
                            <div class="caption">
                                <h4>May 13, 2007</h4>
                				<p>Right tail lamp area</p>
                                <a class="btn btn-mini" href="#">&raquo; Read More</a>
                            </div>
                        </li>
                    </ul>
              </div><!-- /Slide2 --> 
            <div class="item">
                    <ul class="thumbnails">
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="#"><img src="http://i169.photobucket.com/albums/u229/dkeefe75/DSC02653.jpg" alt=""></a>
                            </div>
                            <div class="caption">
                                <h4>May 13, 2013</h4>
                				<p>Right quarter panel</p>
                                <a class="btn btn-mini" href="#">&raquo; Read More</a>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="#"><img src="http://i169.photobucket.com/albums/u229/dkeefe75/DSC02698.jpg" alt=""></a>
                            </div>
                            <div class="caption">
                                <h4>May 28, 2007</h4>
                				<p>Inner fenders, sand bblasted and sealed with DP90</p>
                                <a class="btn btn-mini" href="#">&raquo; Read More</a>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="#"><img src="http://i169.photobucket.com/albums/u229/dkeefe75/DSC02785.jpg" alt=""></a>
                            </div>
                            <div class="caption">
                                <h4>June 29, 2007</h4>
                				<p>Radiator support, sand blasted and sealed with DP90</p>
                                <a class="btn btn-mini" href="#">&raquo; Read More</a>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                            </div>
                            <div class="caption">
                                <h4>Praesent commodo</h4>
                				<p>Nullam Condimentum Nibh Etiam Sem</p>
                                <a class="btn btn-mini" href="#">&raquo; Read More</a>
                            </div>
                        </li>
                    </ul>
              </div><!-- /Slide3 --> 
        </div>
        
        <div class="control-box">                            
            <a data-slide="prev" href="#myCarousel" class="carousel-control left">‹</a>
            <a data-slide="next" href="#myCarousel" class="carousel-control right">›</a>
        </div><!-- /.control-box -->   
                              
    </div><!-- /#myCarousel -->
        
</div><!-- /.span12 -->          
</div><!-- /.row --> 
</div><!-- /.container -->

                            
<!-- Delete This -->                        
   
</div>