<div class="imgwrap">
  <div class="imgContainer">
    <img src="http://imageshack.us/a/img33/5462/42082647465194256835615.jpg" alt="DTE" />
  </div>
  <div class="imgContainer">
    <img src="http://imageshack.us/a/img203/8784/x9wi.png" alt="DTE" />
  </div>
    <div class="imgContainer">
    <img src="http://imageshack.us/a/img839/2866/dqnc.png" alt="DTE" />
  </div>
    
</div>
<div>

</div>
<center>
	<h2>
	My boys and I plan to begin this restoration on September 1, 2013.
</h2>