<div class="imgwrap">
  <div class="imgContainer">
    <img src="http://imageshack.us/a/img33/5462/42082647465194256835615.jpg" alt="DTE" />
  </div>
  <div class="imgContainer">
    <img src="http://placehold.it/260x260" alt="DTE" />
  </div>
    <div class="imgContainer">
    <img src="http://placehold.it/260x260" alt="DTE" />
  </div>
    
</div>