<div class="wrap">
  <h1>Team Keefe</h1>
  
  <!-- FLUID GRID -->
  
  <ul id="Grid">
    <li class="grid-item"><div><img src="http://imageshack.us/a/img823/3534/zyhq.png" width="500px" height="500px" /><span>Dennis Keefe</span></div></li>
    <li class="grid-item"><div><img src="http://placehold.it/400x400" width="400px" height="400px" /><span>Brandon Keefe</span></div></li>
    <li class="grid-item"><div><img src="http://placehold.it/400x400" width="400px" height="400px" /><span>Ryan Keefe</span></div></li>
    <li class="grid-item"><div><img src="http://imageshack.us/a/img836/3863/a5vi.png" alt="Image Hosted by ImageShack.us"/><br/><span>Nick Keefe</span></div></li>
    
  </ul>
  
  
</div>
