/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {background-color:#FFFFFF;}

.imgwrap {
  width:900px;
  margin:0px auto;
  padding:5px;
  overflow:hidden;
}

.imgContainer {
  display: inline-block;
  border: 1px solid rgba(0,0,0,0.3);
  height: 270px;
  background: white;
  box-shadow: 2px 2px rgba(0,0,0,0.1);
  margin-top: 5px;
  margin-right: 5px;
}

.imgwrap img {
  display:inline-block;
  width:260px;
  height:260px;
  margin: 5px;
  cursor:pointer;
  -webkit-transition:opacity 0.26s ease-out;   
  -moz-transition:opacity 0.26s ease-out;   
  -ms-transition:opacity 0.26s ease-out;   
  -o-transition:opacity 0.26s ease-out;   
  transition:opacity 0.26s ease-out;   
}

.imgwrap:hover img {
  opacity:0.5;
}

.imgwrap:hover img:hover {
  opacity:1;
}
